#player_fish {
    width: 250px;
}

#player_body {
    float:right;
    background-color: orange;
    width: 150px;
    height: 75px;
    border-radius: 50%;
    margin-top: -85px;
}

#player_tail {
    float:left;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid orange;
    border-bottom: 50px solid transparent;
    margin-left: 70px;
}

#player_eye {
    background-color: black;
    float:right;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: -70px;
}